@font-face {
	font-family: "PlayfairDisplayRegular";
	src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
	src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot")format("embedded-opentype"),
	url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
	url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "UbuntuRegular";
	src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
	src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
	url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#f0f0f0;
	display: flex;
	justify-content: center;
	font-family: "PlayfairDisplayRegular";
}
main{
	width: 90%;
	background-color: #ffffff;
	justify-content: center;
}
h4{
	font-size: 14px;
	font-family: "UbuntuRegular";
	color: rgb(180, 173, 158);
	margin-top: 100px;
}
h1{
	font-size: 30px;
	font-family: "PlayfairDisplayRegular";
  	color: rgb(98, 98, 98);
  	margin-top: 30px;
}
p{
	margin-top: 40px;
}
a{
	text-decoration: none;
	color: black;
}
.top{
	width: 70%;
	left: 50%;
	transform: translate(15%, 0);
	display: flex;
	justify-content: space-between;
	margin: 50px 0 50px 0;
}
.logo{
	margin-top: 25px;
	margin-left: -8%;
}
.menu{
	width: 70%;
	display: flex;
	justify-content: space-around;
	font-family: "PlayfairDisplayRegular";
	margin-right: -23%;
}
nav ul li {
	font-size: 14px;
	margin-top: 30px;
	list-style-type: none;
	margin-left: 5%;
	padding: 0 0 30px 0;
	height: 20px;
}
nav ul li a:hover{
	font-size: 18px;
	background-color: pink;
	color: grey;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 0 50px pink;
}
.slider{
	margin: 90px 5% 0 5%;
	width: 90%;
	display: flex;
	justify-content: center;
}
.slider img{
	width: 100%;
}
section{
	width: 80%;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 0 10%;
}
.photo1, .photo2, .photo3{
	width: 100%;
	column-count: 2;
	margin: 50px 0px;
	column-gap: 60px;
}
.photo1 img, .photo2 img, .photo3 img{
	width: 100%;
	height: 280px;
}
section img:hover{
	box-shadow: 10px 10px 5px pink;
    transition: 0.3s;
}
.photo1 h4, h1, .photo2 h4, h1, .photo3 h4, h1{
	margin-top: 30px;
}
.photo1 p, .photo2 p, .photo3 p{
	font-family: "PlayfairDisplayRegular";
	margin-top: 40px;
	padding-bottom: 10px;
	line-height: 24px;
	font-size: 14px;
}
form{
	background-color: #f0f0f0;
	width: 100%;
	text-align: center;
	line-height: 150px;
	color: black;
}
form input{
	width: 45%;
	line-height: 24px;
	font-size: 14px;
	border-style: none;
	border-bottom: 2px solid grey;
	background-color: #f0f0f0;
}
form input:last-child{
	border-style: none;
	left: -40px;
	position: relative;
	width: 35px;
	height:17px;
	cursor: pointer;
}
button{
	width: 200px;
	height: 50px;
	align-self: center;
	background-color:#f0f0f0;
	border: 1px solid grey;
	color: grey;
	margin: 100px auto;
}
button:hover{
	transform: scale(1.1);
	transition: 0.3s;
	cursor: pointer;
	background-color: pink;
	border:1px solid #f0f0f0;
	color: grey;
	border: 1px solid grey;
	border-radius: 5px 5px;
	box-shadow: 0 0 10px pink;
}
footer{
	height: 100px;
	width: 100%;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
footer img{
	width: 18px;
	height: 18px;
}
footer img:hover{
	box-shadow: 0 5px 5px pink;
}
footer ul li{
	display: inline;
	list-style: none;
}
footer a:hover{
	color: pink;
}
@media(max-width: 980px){
	.photo1, .photo2, .photo3{
		column-count: 1;
	}
	.photo1 img, .photo2 img, .photo3 img{
	height: 380px;
	}
}
@media(max-width: 680px){
	.slider img{
		height: 350px;
	}
	.top{
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
	.logo {
		width: 20%;
		margin:0 40%;
	}
	.menu{
		width: 80%;
		margin: 0 10%;
	}
	.photo1 img, .photo2 img, .photo3 img{
	height: 300px;
	}
}
@media(max-width: 530px){
	.slider img{
		height: 250px;
	}
	form input{
		width: 70%;
	}
	form h1{
		font-size: 22px;
	}
}